<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zinzins_des_math">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zinzins_des_math"
        tools:targetApi="31">
        <activity
            android:name=".choosesolomultiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiplayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LevelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParametreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GamesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DifficultyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RouletteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Enigme1Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Enigme2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Enigme3Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Enigme4Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Enigme5Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Enigme6Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Enigme7Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Enigme8Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Enigme9Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>